*{
	font-family: sans-serif;
	color: blue
}

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10%;
} 

/*--Set background color of everything below the table--*/

#pageBackground{
    background-color: #FFF5EE;
    border-left: 4px black solid;
    border-right: 4px black solid;
    border-bottom: 4px black solid;
	border-top: 4px black solid;

}

/*--Set font color and width throughout the page--*/

p{
    margin: 10px;
}

/*--Links--*/

a:link{
    color: blue;
    background-color: transparent;
}

a:visited{
    color: blue;
    background-color: transparent;
}

a:hover {
    color: yellow;
    text-decoration: underline;
    background-color: black;
}

/*--END LINKS--*/


/*--SPAN details--*/
span{
    color: red;
	font-weight: bold;

}
span2{
    color: darkolivegreen;
    font-weight: bold;
	font-style: italic;
}

/*--Navigation Bar--*/
.Navigation{
	background-color: #333333;
	text-align: center;
	color: #fff;
	margin-bottom: -10px;
}

#NavList {
    list-style-type: none;
    text-indent: 120px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

}

.NavIcons {
    float: left;
}

.NavIcons a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.NavIcons a:hover {
    background-color: #000;
}

/*Create a section that will have all links that will take me to Assignments and Projects using 
a zebra-striped table no borders, every other row is a different color*/
table{
	width: 100%;
}

th{
	background-color: #000000;
	color: #7E3817;
    border-left: 0px black solid;
    border-right: 0px black solid;
    border-top: 0px black solid;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

td{
	text-align: center;
    border-left: 2px black solid;
    border-right: 2px black solid;
}
/*--END TABLE--*/

/*--About Me--*/
.AboutMe{
	text-align: center;
}
img {
    display: block;
    margin: auto;
}

#PhotoName{
    text-align: center;
}

.Quotes{
    text-align: center;
}
q{
   font-size: 12px;
   font-style: italic;
   color: #E4287C;
}
/*--END ABOUT ME--*/

/*--List of Hobbies--*/
h2{
    background-color: #6AFB92;
    color: #E4287C;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 3px double black;
    border-top: 2px solid black;
}

/*--END LIST--*/